
.dialog {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.dialog:last-child {
    margin-bottom: 50px;
}

.dialog img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}


.dialog a {
    color: #fa89ff;
    text-decoration: none;
    font-size: 22px;
}

.dialog a:hover {
    color: #f300ff;
}

.dialog a:active {
    color: #fa89ff;
}


