.posts {
    display: flex;

}

.post {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #d7fd61;
    border-radius: 20px;
    margin-bottom: 10px;
    flex: 0 1 450px;

}

.postAvatar {
    margin-right: 30px;
}

.postAvatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
}


.postItem {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.postItemText {
    margin-bottom: 20px;
    max-width: 700px;

}

.postItemText span {
    font-size: 26px;
    color: #fa89ff;
}

.postItemLike {
    display: flex;
    justify-content: space-between;
}

.postItemLike span {
    width: 50px;
    height: 30px;
    background-color: #d7fd61;
    color: #fa89ff;
    font-weight: 700;
    font-size: 18px;
    margin-right: 10px;
}

.postItemLike button {
    width: 50px;
    height: 30px;
    background-color: #d7fd61;
    color: #fa89ff;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #fa89ff;
    border-radius: 10px;
}

.postItemLike button:hover {
    background-color: #b9ff00;
    color: #f600ff;
}

.postItemLike button:active {
    background-color: #d7fd61;
    color: #fa89ff;
}